body{
    
    background-image: url('https://drive.google.com/thumbnail?id=17VIZLGhgtsskdQRde2WbH29KncbVyyNX&sz=w1000');
    background-repeat: no-repeat;
    background-size: COVER;
    background-position: center;
    overflow: hidden;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    z-index: 1000; /* 다른 요소들 위에 표시되도록 설정 */
}

li{
    display: inline;
    align-self: center;
    margin:0;
    margin-left: 15px;
}

ul{
    margin:0;
}

.site-name{
    margin:0;
    font-size: 24px;
    color: white;
    /* 원하는 폰트 찾아와!
    font family: '원하는 폰트명', sans serif;
    */
}

.nav-menu{
    font-size: 18px;
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    color: gray;
    transition: 0.3s;
}

.contact-info {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

.footer-image {
    width: 50px; /* 이미지 크기를 조절합니다 */
    height: auto; /* 비율을 유지하면서 크기 조정 */
    margin-right: 10px; /* 텍스트와 이미지 사이에 간격을 줍니다 */
    vertical-align: middle; /* 이미지와 텍스트가 같은 라인에 오도록 합니다 */
}

.contact-info a {
    color: white;
    text-decoration: none;
    margin-right: 0px;
}

.contact-info a:visited{
    color: white;
}

.contact-info a:hover {
    color: gray;
    transition: 0.3s;
}