
body{
    
    background-image: url('../images/welcome_image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self: center;
    margin:0;
    margin-left: 15px;
}

ul{
    margin:0;
}

.site-name{
    margin:0;
    font-size: 24px;
    color: white;
    /* 원하는 폰트 찾아와!
    font family: '원하는 폰트명', sans serif;
    */
}

.nav-menu{
    font-size: 18px;
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    color: gray;
    transition: 0.3s;
}
